name: Build & Release & Publish

on:
  push:
    tags:
      - 'v*'

jobs:
  github-release:
    name: Create GitHub Release
    runs-on: ubuntu-latest
    outputs:
      # 定義輸出，讓下一個 Job 可以知道這是一個成功的 Release
      release_id: ${{ steps.create_release.outputs.id }}
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Set up Python
        run: uv python install 3.x

      - name: Build project
        run: uv build

      - name: Create GitHub Release
        id: create_release
        uses: softprops/action-gh-release@v2
        with:
          files: dist/*
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: python-package-dist
          path: dist/

  publish-package:
    name: Publish to PyPI
    needs: github-release
    runs-on: ubuntu-latest
    environment:
      name: pypi
      # url: https://pypi.org/p/${{ secrets.PYPI_USERNAME }}
    permissions:
      id-token: write
    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          name: python-package-dist
          path: dist/

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: dist/
